#!/bin/bash

DISPLAY=:0 xmessage -buttons Ok:2,Cancel:0 -default Cancel -timeout 10 -nearmouse "'$BACKUP_NAME' process initiated! Shall I proceed ?"

if [ $? -eq 2 ]; then
        logger "'$BACKUP_NAME' process initiated on `date`"

        [ ! -d "$DEST_PATH" ] && echo "Destination path $DEST_PATH does not exist " >&2 && exit 1
        [ ! -w "$DEST_PATH" ] && echo "Destination path $DEST_PATH is not writtable " >&2 && exit 1


        # Backup commands
        $BACKUP_COMMANDS

        # now backup git repositories using 'git bundle' method
        # find /home/nando/Projects -name 'dobackup' -exec /home/nando/scripts/bundle-git-repo.sh {} /media/nando/backup1/nando/REPO \;
        logger "'$BACKUP_NAME' process completed"
else
        logger "'$BACKUP_NAME' process cancelled"
fi
