#!/bin/bash

DISPLAY=:0 xmessage -buttons Ok:1,Cancel:0 -default Cancel -timeout 10 -nearmouse "'$BACKUP_NAME' process initiated! Shall I proceed ?"

if [ $? -eq 1 ]; then
        logger "'$BACKUP_NAME' process initiated on `date`"

        # Backup commands
        $BACKUP_COMMANDS

        # now backup git repositories using 'git bundle' method
        # find /home/nando/Projects -name 'dobackup' -exec /home/nando/scripts/bundle-git-repo.sh {} /media/nando/backup1/nando/REPO \;
        logger "'$BACKUP_NAME' process completed"
else
        logger "'$BACKUP_NAME' process cancelled"
fi
