[Unit]
Description=Script trigger for $BACKUP_NAME
Requires=$SYSTEMD_UNIT
After=$SYSTEMD_UNIT

[Service]
ExecStart="$SCRIPT_PATH"
User=$USER
Group=$GROUP

[Install]
WantedBy=$SYSTEMD_UNIT

